/* Compost Icon (Image) Styling */
.control-icon-img {
    width: 20px;
    height: 20px;
    object-fit: contain;
    filter: invert(1);
}

body.light-mode .control-icon-img {
    filter: invert(0);
}

#trashBinBtn:hover .control-icon-img {
    filter: invert(79%) sepia(16%) saturate(1155%) hue-rotate(349deg) brightness(91%) contrast(92%);
}

body.light-mode #trashBinBtn:hover .control-icon-img {
    filter: sepia(100%) saturate(500%) hue-rotate(350deg) brightness(70%) contrast(90%);
}
